<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GUIA DE BOLSO</title>
    <link rel="shortcut icon" href="icon.ico" type="image">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
    body {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }
</style>
<body>
    <header>
        <div class="w3-bar w3-green w3-center">
            <div class="w3-bar w3-green">
                <a href="../index.php" class="w3-bar-item w3-button w3-padding-large">Home</a>
                <a href="./login/login.php" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
                <a href="./cadastro/cadastro.php" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Cadastro</a>
            </div>
        </div>
    </header>
   


    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">

        @RenderBody()
        
    <!-- The Band Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">GUIA DE BOLSO</h2>
            <p class="w3-opacity"><i>Conheça nossa Historia!</i></p>
            <p class="w3-justify">
                A educação financeira analisa e estuda as variações de um patrimônio ou determinada posse baseada nos aspectos qualitativos e quantitativos específicos de uma empresa, ou pessoa física. É imprescindível considerá-la como prática para que ela analise fenômenos e compreenda como eles ocorrem para que, assim, seja possível desenvolver estratégias com intuito de solucionar problemas e adversidades.
                Assim como o contexto econômico mundial foi formado por uma série de ações e discussões que ajudaram a construir o que observamos atualmente com avanços na economia, é importante pensar no indivíduo e as mudanças que o crescimento e desenvolvimento econômico trouxeram à sociedade. Por isso, é importante compreender o contexto histórico para entendimento das relações comerciais, políticas e sociais estabelecidas através dos anos para compreender como a estrutura econômica atual acontece (Santos, 2020).
                Considerando o desenvolvimento atual da economia brasileira, é importante ressaltar os impactos da pandemia e pós-pandemia. Estratégias como o auxílio emergencial e a permissão do saque emergencial do FGTS ajudaram a recompor parte das perdas de renda da população com a pandemia. O que também desencadeou a necessidade de uma organização ainda maior por parte dos brasileiros, para que conseguissem realizar suas necessidades básicas financeiras.
                Pensando nisso, o uso de ferramentas que auxiliam as pessoas em seus custos e gastos se torna interessante a pessoas que precisam delimitar despesas. Dessa forma, o objetivo desse trabalho é desenvolver um sistema que permita ao seu usuário simular previsões de gastos passados, presentes e futuros, e assim, tente se preparar para adversidades, como também auxiliar na educação financeira do usuário pois “a educação financeira pode trazer diversos benefícios, entre os quais, possibilitar o equilíbrio das finanças pessoais, preparar para o enfrentamento de imprevistos financeiros e para a aposentadoria, qualificar para o bom uso do sistema financeiro, reduzir a possibilidade de o indivíduo cair em fraudes, preparar o caminho para a realização de sonhos, enfim, tornar a vida melhor” (BCDB, 2013).
            </p>

            <!-- Ticket Modal -->
            <div id="ticketModal" class="w3-modal">
                <div class="w3-modal-content w3-animate-top w3-card-4">
                    <header class="w3-container w3-teal w3-center w3-padding-32">
                        <span onclick="document.getElementById('ticketModal').style.display='none'"
                              class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
                    </header>
                    <div class="w3-container">
                        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
                        <input class="w3-input w3-border" type="text" placeholder="How many?">
                        <p><label><i class="fa fa-user"></i> Send To</label></p>
                        <input class="w3-input w3-border" type="text" placeholder="Enter email">
                        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
                        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
                    </div>
                </div>
            </div>


            <!-- End Page Content -->
        </div>



        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - GUIA DE BOLSO - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
            </div>
        </footer>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
